<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>MOVIERECOM</title>
<link href="style.css"rel="stylesheet"/>
<link rel="preconnect"href="https://fonts.googleapis.com"/>
<link rel="preconnect"href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,600,1,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <header class="navigation-bar">
        <h1>
            <span class="logo-movie">MOVIE</span><span class="logo-mood">MOOD</span>
        </h1>
 
    </header>

    <div class="heading">
        <h1>GET MOVIE RECOMMENDATIONS <br>BASED ON YOUR MOOD</h1>
    </div>

    <div class="search-container">
		<form action="/movieList" method="POST">
    <div class="search-bar">
        <input type="text" class="search-input" name="prompt" placeholder="sprinkle your mood here " autocomplete="off" required>
        <button type="submit" class="search-button">
            <!-- <img src="search.svg" alt="search icon"> -->
            <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e01e37"><path d="M622.61-529.61q23.63 0 40.51-16.88T680-587q0-23.63-16.88-40.51t-40.51-16.88q-23.63 0-40.23 16.68-16.6 16.68-16.6 40.51t16.58 40.71q16.57 16.88 40.25 16.88Zm-285.22 0q23.63 0 40.23-16.68 16.6-16.68 16.6-40.51t-16.58-40.71q-16.57-16.88-40.25-16.88-23.63 0-40.51 16.88T280-587q0 23.63 16.88 40.51t40.51 16.88ZM480-261q67.7 0 124.04-37.01 56.35-37.01 80.22-100.08H275.74q24.87 63.07 80.72 100.08Q412.3-261 480-261Zm.03 195.13q-85.86 0-161.4-32.35-75.54-32.34-131.8-88.61-56.27-56.26-88.61-131.77-32.35-75.51-32.35-161.37t32.35-161.4q32.34-75.54 88.52-131.83 56.17-56.29 131.72-88.9 75.56-32.6 161.46-32.6 85.91 0 161.52 32.56 75.61 32.56 131.86 88.77 56.24 56.22 88.82 131.83 32.58 75.62 32.58 161.59 0 85.93-32.6 161.47-32.61 75.53-88.9 131.72-56.29 56.2-131.8 88.54-75.51 32.35-161.37 32.35Z"/></svg>
            <!-- <a href="https://www.freeiconspng.com/img/9972" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/search-icon-png-8.png"  alt="Icon Png Search" /></a> -->

            <!-- <span class="material-symbols-outlined">
                search
                </span> -->
        </button>
    </div>
		</form>
</div>



<div class="emoji-right">
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExOW5pc2J5ejQ0NnZlcngxaWtzM3o1dnlwZ3F1ZnRrbm9iejNieDBxNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9ZQ/hVlZnRT6QW1DeYj6We/giphy.gif" alt="laughing emoji">
 
</div>

<div class="emoji-left">
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExODBxMnpjbno5ZWtlM2VjaW56dHBhcGhuMWQ4MXVwbHBtdnU5ZzNxYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/rVUgg2B0PPyIq6PQSf/giphy.gif" alt="heart emoji">
 
</div>
    
</body>

</html>



